.articles {
	padding: 100px 0 140px;
	position: relative;
	text-align: center;
	h2 {
		margin-top: 5px;
	}
}

.article-left {
	float: left;
	width: 26.5%;	

}
.article-center {
	margin-left: 10.2%; 
	float: left;
	width: 26.5%;
}
.article-right {
	float: right;
	width: 26.5%;
}
