.articles {
	padding: 100px 0 140px;
	text-align: center;
	h2 {
		margin-top: 5px;
	}
}

.article-left {
	float: left;
	width: 285px;	

}
.article-center {
	margin-left: 112px; 
	float: left;
	width: 285px;
}
.article-right {
	float: right;
	width: 285px;
}
