body {
	font: 0.75em $brand-font;
	color: $text-color;
}

p {
	line-height: 150%;
}

h1, h2 {
	font: bold 1.125em $brand-font;
	text-transform: uppercase;
}

.read-more {
	color: $read-more-color;
	font-style: italic;
}

