

body {
	background-color: #fff;
}

p {
	margin-top: 15px;
}

header {
	background-color: $brand-gray;
}

a {
	text-decoration: none;
	color: $text-color;
}
.fringe {
	height: 10px;
	background-color: $brand-brown;
}

.content {
	margin: 0 auto;
	width: 68.125em; 
}

.arroy-top {
	position: relative;
	padding: 10px 0;
	
	img {
		position: absolute;
		left: 50%;
	}
}