
header {
	padding-top: 40px;
	
	
}


nav {
	img {
		float: left;
	}

	ul {
		background-color: #FFF;
		border-radius: 35px;
		float: right;
		
	}

	li {
		border-left: solid 1px $brand-gray;
		list-style: none;
		display: inline-block;
		padding: 20px 1.563em;

	}

	
}

