header {
	padding-top: 40px;
	
	
}


nav {
	img {
		float: left;
	}

	ul {
		background-color: #FFF;
		border-radius: 35px;
		float: right;
		padding: 20px 25px;	
	}

	li {
		
		list-style: none;
		display: inline-block;
		position: relative;
		img {
			position: absolute;
			left: 30%;
		}
		
		

	}
	a {
		border-left: solid 1px $brand-gray;	
		padding: 20px 25px;	


	}

	
}

