
.slider {
	position: relative;

	.read-more {
		color: $text-color;
	}
}

.slider-cont {

	margin: 0 auto;
	padding-top: 100px;	
	width: 77.9%;

}

.slider-tex {
	float:left;
	width: 37%;
}

.slider-img {
	float:right;
	
}

.arrow-left {
	position: absolute;
	left: 8%;
	top: 50%;

}

.arrow-right {
	position: absolute;
	right: 8%;
	top: 50%;
	

}

.points {

	position: absolute;
	left: 50%;
	bottom: 5%;
}